<h1>Paint Supplies</h1>
<% @parts.each do |part| %>
  <ul>
  <hr />
    <li>
      <p>Item: <%= part.name %></p>
      <p><%= part.description %></p>
      <p>Price: <%= part.price %></p>
      <p>In stock: <%= part.available %></p>
      <%= link_to 'Show', part_path(part) %>
      <%= link_to 'Edit', edit_part_path(part) %>
      <%= link_to 'Delete', part_path(part), method: :delete %>
    </li>
  </ul>
<% end %>