<h1>Paints</h1>
<% @paints.each do |paint| %>
  <ul>
  <hr />
    <li>
      <p>Paint color: <%= paint.name %></p>
      <p>Finish: <%= paint.finish %></p>
      <p>Price: <%= paint.price %></p>
      <p>In stock: <%= paint.available %></p>
      <%= link_to 'Show', paint_path(paint) %>
      <%= link_to 'Edit', edit_paint_path(paint) %>
      <%= link_to 'Delete', paint_path(paint), method: :delete %>
    </li>
  </ul>
<% end %>
